name: CI Build
on: [push, pull_request]

jobs:
  build:
    name: Lint-Test-Build
    runs-on: ubuntu-latest
    steps:
      - 
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
      - 
        name: Check out code
        uses: actions/checkout@v2
      - 
        name: Run linter
        run: make lint
      - 
        name: Run acceptance tests
        run: make testacc
        env:
          HETZNER_DNS_API_TOKEN: ${{ secrets.HETZNER_DNS_API_TOKEN }}
      - 
        name: Build
        run: make build
      

  

